
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    transition: 0.4s;
}

.fondo{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3E1eXN5d2U3cHBtbnB2ZDBjYXQ0eXYydWhzeDl0NG15d3NpNHpoayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IhjzIRlsoPqZJOx3Au/giphy.gif") no-repeat center center/cover;

    filter: brightness(0.3);

    z-index: -1;

    transition: 0.4s;
}

.encabezado{
    text-align: center;
    padding: 30px;
}

nav{
    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 30px;

    backdrop-filter: blur(10px);
}


.album{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: auto;

    gap: 15px;
}


.bloque{
    position: relative;

    background: rgba(178, 168, 168, 0.6);

    border: 1px solid rgba(255,0,0,0.3);

    border-radius: 15px;

    overflow: hidden;

    padding: 15px;

    transition: 0.4s;
}


.bloque:hover{
    transform: scale(1.03);

    box-shadow: 0 0 20px red;
}


.bloque img{
    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}

.bloque.imagen-horizontal{
    grid-column: span 2;

    padding: 11px;
}

.bloque.imagen-horizontal img{
    width: 100%;

    height: auto;

    display: block;

    border-radius: 10px;

    margin-top: 10px;
}


.texto{
    position: absolute;

    bottom: 15px;

    left: 15px;
}


.grande{
    grid-column: span 2;

    grid-row: span 2;
}

.ancho{
    grid-column: span 2;
}

h1{
    font-size: 2.8em;

    color: #ff1a1a;

    text-shadow: 0 0 15px red;
}

h2{
    margin-bottom: 10px;

    color: #ff4d4d;
}

p,
li,
blockquote{
    color: #dfdddd;

    line-height: 1.6;
}


ul{
    padding-left: 20px;
}

a{
    display: block;

    color: #ff1a1a;

    text-decoration: none;

    margin-top: 5px;

    transition: 0.3s;
}

a:hover{
    color: rgb(29, 24, 24);

    text-shadow: 0 0 10px red;
}


blockquote{
    margin-bottom: 15px;

    font-style: italic;
}


.footer{
    text-align: center;

    padding: 25px;

    margin-top: 30px;

    background: rgba(0,0,0,0.4);

    backdrop-filter: blur(5px);
}


.boton-modo{
    position: fixed;

    bottom: 20px;

    right: 20px;

    z-index: 1000;

    border-radius: 50px !important;

    padding: 10px 20px !important;

    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.modo-oscuro{
    background: #111;

    color: white;

    transition: 0.4s;
}


.modo-oscuro .encabezado{
    background: rgba(0,0,0,0.5);
}


.modo-oscuro .bloque{
    background: rgba(30,30,30,0.85);

    border: 1px solid rgba(255,255,255,0.1);

    color: white;

    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.modo-oscuro .bloque:hover{
    box-shadow: 0 0 20px #ff4d4d;
}

.modo-oscuro h1{
    color: #ff8080;

    text-shadow: 0 0 15px #ff4d4d;
}

.modo-oscuro h2{
    color: #ff9d9d;
}

.modo-oscuro p,
.modo-oscuro li,
.modo-oscuro blockquote{
    color: #f1f1f1;
}

.modo-oscuro a{
    color: #ff9de6;
}

.modo-oscuro a:hover{
    color: white;

    text-shadow: 0 0 10px #ff4d4d;
}

.modo-oscuro .footer{
    background: rgba(0,0,0,0.8);

    color: white;
}

.modo-oscuro .fondo{
    filter: brightness(0.15);
}


@media(max-width: 900px){

    .album{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width: 600px){

    .album{
        grid-template-columns: 1fr;
    }

    .grande,
    .ancho,
    .bloque.imagen-horizontal{
        grid-column: span 1;
    }

    h1{
        font-size: 2em;
    }

}